---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>{{ site.description | markdownify }}</p>
							<!-- <ul class="icons">
								{% for socloc in site.social %}
								{% if socloc[1] %}
								{% if socloc[0] == 'email' %}
								<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
											 ><span class="label">E-mail</span></a></li>
								{% else %}
								<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
											 ><span class="label">{{ socloc[0] }}</span></a></li>
								{% endif %}
								{% endif %}
								{% endfor %}
							</ul> -->
							<ul class="actions">
								<li><a href="/contact" class="button special">Hire Me</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Discover More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>About</h2>
								<p>"Careers are a jungle gym, not a ladder."</p>
								<p>I enjoy exploring new roles, diving into other industries, and constantly learning new things.</p>
								<p>When I'm not tinkering with code, I am binging the latest Netflix show with my husband, planning my next adventure, and spoiling my rescue dachshund mix.</p>
							</header>
							<ul class="icons major">{%
								for socloc in site.social limit:3 %}{%
									if socloc[1] %}{%
										if socloc[0] == 'email' %}
									<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope major style1"
												 ><span class="label">E-mail</span></a></li>{%
										else %}
									<li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }} major style1"
												 ><span class="label">{{ socloc[0] }}</span></a></li>{%
										endif %}{%
									endif %}{%
								endfor %}
							</ul>
							<!-- <ul class="icons major">
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
								<li><span class="icon fa-github-alt major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul> -->
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Portfolio</h2>
								<p>Latest and greatest passion projects</p>
								<ul class="actions">
									<li><a href="/portfolio" class="button">View Portfolio</a></li>
								</ul>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Blog</h2>
								<p>Musings from the heart of the Silicon Forest</p>
								<ul class="actions">
									<li><a href="/blog" class="button">View Blog</a></li>
								</ul>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
								<h2>Testimonials</h2>
								<p>Success stories from the jungle gym</p>
								<ul class="actions">
									<li><a href="/testimonials" class="button">View Testimonials</a></li>
								</ul>
							</div>
						</section>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Skills</h2>
							</header>
							<ul class="features">
								<li class="icon fa-code">
									<h3>Frontend</h3>
									<p>HTML, CSS, JS, jQuery, Angular</p>
								</li>
								<li class="icon fa-database">
									<h3>Backend</h3>
									<p>Ruby on Rails, RSpec, PostgreSQL</p>
								</li>
								<li class="icon fa-slack">
									<h3>Collaboration</h3>
									<p>GitHub, Slack, Yammer</p>
								</li>
								<li class="icon fa-puzzle-piece">
									<h3>Project Management</h3>
									<p>Trello, Evernote</p>
								</li>
								<li class="icon fa-check-square-o">
									<h3>Quality Assurance</h3>
									<p>JIRA, HP Quality Center</p>
								</li>
								<li class="icon fa-cogs">
									<h3>DevOps</h3>
									<p>Heroku, Digital Ocean, AWS</p>
								</li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Should We Work Together?</h2>
								<p>I believe failure is an opportunity to learn, grow, and share funny memes. Let me know if you enjoy getting things done and expressing your feelings through GIFs.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="/contact" class="button fit special">Let's Talk</a></li>
								<li><a href="/testimonials" class="button fit">How I Work</a></li>
							</ul>
						</div>
					</section>
